<?xml version="1.0" encoding="EUC-KR"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.AttendanceDAO">
    <insert id="startWork">
        insert into attendance values (ATTENDANCE_SEQ.NEXTVAL, systimestamp, null, default, #{emp_code})
    </insert>

    <insert id="outSideWork">
        insert into attendance values (ATTENDANCE_SEQ.NEXTVAL, systimestamp, null, 'out', #{emp_code})
    </insert>

    <select id="checkStart" resultType="java.sql.Timestamp">
        select start_time from attendance where to_char(start_time, 'YYYYMMDD') = to_char(sysdate, 'YYYYMMDD') and emp_code = #{emp_code}
    </select>

    <select id="checkEnd" resultType="java.sql.Timestamp">
        select end_time from attendance where to_char(start_time, 'YYYYMMDD') = to_char(sysdate, 'YYYYMMDD') and emp_code = #{emp_code}
    </select>

    <update id="offWork">
        update attendance set end_time = systimestamp where to_char(start_time, 'YYYYMMDD') = to_char(sysdate, 'YYYYMMDD') and emp_code = #{emp_code}
    </update>

    <select id="getAttendanceList" resultType="kh.cocoa.dto.AttendanceDTO">
    select * from attendance where emp_code = #{emp_code}
    </select>

    <select id="getAtdTime" resultType="kh.cocoa.dto.AttendanceDTO">
        SELECT * FROM ATTENDANCE where start_time between  NEXT_DAY(SYSDATE-8,'일요일') and NEXT_DAY(SYSDATE,'토요일') and emp_code=#{emp_code} and start_time is not null
    </select>

    <select id="getMonthAtdTime" resultType="kh.cocoa.dto.AttendanceDTO">
        SELECT * FROM ATTENDANCE WHERE to_char(start_time,'YYMMDD') between TRUNC(SYSDATE, 'MM') and LAST_DAY(SYSDATE) and emp_code=#{emp_code} and end_time is not null
    </select>

    <select id="isAtd" resultType="kh.cocoa.dto.AttendanceDTO">
        SELECT * from attendance where to_char(start_time,'YYMMDD') = to_char(sysdate,'YYMMDD') and emp_code=#{emp_code}
    </select>

    <select id="isInWork" resultType="String">
        SELECT to_char(start_time,'HH24:MM:SS') from attendance where to_char(start_time,'YYMMDD')=to_char(sysdate,'YYMMDD') and start_time is not null and emp_code=#{emp_code}
    </select>

    <select id="isOutWork" resultType="String">
        SELECT to_char(end_time,'HH24:MM:SS')  from attendance where to_char(start_time,'YYMMDD')=to_char(sysdate,'YYMMDD') and end_time is not null and emp_code=#{emp_code}
    </select>

    <insert id="startWork2">
        <choose>
            <when test="status=='in'">
                update attendance set start_time=systimestamp, status='IN' where emp_code=#{emp_code} and to_char(today,'YYMMDD') = to_char(sysdate,'YYMMDD')
            </when>
            <when test="status=='late'">
                update attendance set start_time=systimestamp, status='LATE' where emp_code=#{emp_code} and to_char(today,'YYMMDD') = to_char(sysdate,'YYMMDD')
            </when>
            <otherwise>
                update attendance set start_time=systimestamp, status='OUT' where emp_code=#{emp_code} and to_char(today,'YYMMDD') = to_char(sysdate,'YYMMDD')
            </otherwise>
        </choose>
    </insert>

    <update id="reRegStartTime">
       update attendance set start_time=sysdate where emp_code=#{emp_code} and to_char(start_time,'YYMMDD') = to_char(sysdate,'YYMMDD')
    </update>

    <update id="endWork">
         update attendance set end_time=sysdate, overtime=#{overtime} where emp_code=#{emp_code} and  to_char(start_time,'YYMMDD') = to_char(sysdate,'YYMMDD')
    </update>

    <select id="isReq" resultType="kh.cocoa.dto.AtdChangeReqDTO">
        SELECT to_char(A.today,'YY-MM-DD') today,req.* FROM ATDCHANGEREQ req
        INNER JOIN ATTENDANCE A ON A.SEQ= req.atd_seq WHERE req.ATD_SEQ=#{atd_seq}
    </select>

    <select id="getAtdInfoBySeq" resultType="kh.cocoa.dto.AttendanceDTO">
        SELECT * FROM ATTENDANCE WHERE SEQ=#{seq}
    </select>

    <select id="getAttendanceList2" resultType="kh.cocoa.dto.AttendanceDTO">
        select * from (select A.seq,nvl(to_char(A.start_time,'HH24:MM:SS'),'출근 누락') sub_start_time,nvl(to_char(A.end_time,'HH24:MM:SS'),'퇴근 누락') sub_end_time,to_char(A.today,'YY-MM-DD DY') today,
        case A.STATUS when 'BW' then '출근 전' when 'IN' then '정상 출근' when 'OUT' then '외근' when 'LATE' then '지각' when 'ABS' then '결근' end as status,case REQ.STATUS when 'C' then '승인' when 'NC' then '검토중' when 'N' then '미승인' else '-' END AS REQ_STATUS,
        nvl(REQ.comments,'-') as comments
        FROM ATTENDANCE A FULL OUTER JOIN ATDCHANGEREQ REQ ON A.SEQ=REQ.ATD_SEQ WHERE a.emp_code=#{emp_code}  ORDER BY A.SEQ DESC)
        where ROWNUM<![CDATA[ <= ]]>#{number}
    </select>

    <select id="getSearchAtd" resultType="kh.cocoa.dto.AttendanceDTO">
        select * from (select A.seq,nvl(to_char(A.start_time,'HH24:MM:SS'),'출근 누락')  sub_start_time,nvl(to_char(A.end_time,'HH24:MM:SS'),'퇴근 누락') sub_end_time,to_char(A.today,'YY-MM-DD DY') today,
        case A.STATUS  when 'BW' then '출근 전' when 'IN' then '정상 출근' when 'OUT' then '외근' when 'LATE' then '지각' when 'ABS' then '결근'end as status,case REQ.STATUS when 'C' then '승인' when 'NC' then '검토중' when 'N' then '미승인' else '-' END AS REQ_STATUS,
        nvl(req.comments,'-') as comments
        FROM ATTENDANCE A FULL OUTER JOIN ATDCHANGEREQ REQ ON A.SEQ=REQ.ATD_SEQ WHERE  a.emp_code=#{emp_code} and a.start_time BETWEEN #{start_time} and '${end_time}' and A.STATUS like '%${search}%' ORDER BY A.SEQ DESC)
        where ROWNUM<![CDATA[ <= ]]>#{number}
    </select>

    <select id="countStatusLate" resultType="String">
        select COUNT(*) from attendance where status='LATE' and emp_code=#{emp_code} and start_time BETWEEN TRUNC(SYSDATE, 'MM') and LAST_DAY(SYSDATE)
    </select>

    <select id="countStatusWork" resultType="String">
        select COUNT(*) from attendance where emp_code=#{emp_code} and start_time BETWEEN TRUNC(SYSDATE, 'MM') and LAST_DAY(SYSDATE)
    </select>

    <select id="countWorkHour" resultType="String">
        select SUM(EXTRACT(Hour From(end_time-start_time))) hour from attendance where emp_code=#{emp_code} and start_time BETWEEN TRUNC(SYSDATE, 'MM') and LAST_DAY(SYSDATE)
    </select>

    <select id="countWorkMin" resultType="String">
        select SUM(EXTRACT(MINUTE From(end_time-start_time))) MINUTE from attendance where emp_code=#{emp_code}and start_time BETWEEN TRUNC(SYSDATE, 'MM') and LAST_DAY(SYSDATE)
    </select>

    <select id="getAtdReqListToMain" resultType="kh.cocoa.dto.AtdChangeReqDTO">
        SELECT * from (select to_char(A.today,'YY-MM-DD') today, case A.STATUS  when 'BW' then '출근 전' when 'IN' then '정상 출근' when 'OUT' then '외근' when 'LATE' then '지각' when 'ABS' then '결근' end as atd_status, req.atd_seq,nvl(req.contents,'-') as contents,case REQ.STATUS when 'C' then '승인' when 'NC' then '검토중' when 'N' then '미승인' else '-' END AS STATUS from attendance a
        inner join atdchangereq req on req.atd_seq = a.seq where a.emp_code=#{emp_code} order by today desc) where rownum <![CDATA[ <= ]]> 5
    </select>

    <insert id="addChangeReq">
        insert into atdchangereq(seq,start_time,end_time,contents,status,atd_seq,emp_code) values(atdchangereq_seq.nextval,to_timestamp('${today} ${start_time}','YY-MM-DD HH24mi'),
        to_timestamp('${today} ${end_time}','YY-MM-DD HH24mi'),#{contents}, 'NC',#{atd_seq},#{emp_code})
    </insert>

    <update id="modChangeReq">
         update atdchangereq set start_time=to_timestamp('${today} ${start_time}','YY-MM-DD HH24mi'),
       end_time=to_timestamp('${today} ${end_time}','YY-MM-DD HH24mi'),contents=#{contents} where atd_seq=#{atd_seq}
    </update>

    <delete id="delChangeReq">
        delete from atdchangereq where atd_seq=#{atd_seq}
    </delete>

    <select id="getReqListToNex" resultType="kh.cocoa.dto.AtdChangeReqDTO">
        select req.seq,to_char(req.start_time,'YY-MM-DD (DY)') today,to_char(req.start_time,'HH24:MM') start_time,
        to_char(req.end_time,'HH24:MM') end_time,req.contents,req.comments,
        case req.status when 'NC' then '검토중' when 'C' then '승인' when 'N' then '미승인' end as status
        ,req.atd_seq,req.emp_code,e.name name,case A.STATUS  when 'BW' then '출근 전' when 'IN' then '정상 출근' when 'OUT' then '외근' when 'LATE' then '지각' when 'ABS' then '결근'end as atd_status from atdchangereq req
        inner join employee e on e.code=req.emp_code inner join attendance A ON A.SEQ=REQ.ATD_SEQ order by seq desc
    </select>

    <update id="saveAtdReq">
<choose>
    <when test="comments==null">
        update atdchangereq set
        status=case #{status} when '검토중' then 'NC' when '승인' then 'C' when '미승인' then 'N' END
        where seq=#{seq}
    </when>
     <otherwise>
         update atdchangereq set comments=#{comments},
         status=case #{status} when '검토중' then 'NC' when '승인' then 'C' when '미승인' then 'N' END
         where seq=#{seq}
     </otherwise>
</choose>

    </update>

    <select id="getIsReqInfo" resultType="kh.cocoa.dto.AtdChangeReqDTO">
        SELECT * FROM ATDCHANGEREQ WHERE ATD_SEQ=#{atd_seq}
    </select>

    <update id="reChangeReq">
        update atdchangereq set start_time=to_timestamp('${today} ${start_time}','YY-MM-DD HH24mi'),
       end_time=to_timestamp('${today} ${end_time}','YY-MM-DD HH24mi'),contents=#{contents},STATUS='NC',comments='' where atd_seq=#{atd_seq}
    </update>

    <update id="modAtdTime">
        update attendance set start_time=to_timestamp('${today} ${start_time}', 'YY-MM-DD HH24mi'),
         end_time=to_timestamp('${today} ${end_time}', 'YY-MM-DD HH24mi'),
         status=case #{atd_status} when '출근 전' then 'BW' when '정상 출근' then 'IN' when '외근' then 'OUT' when '지각' then 'LATE'
         when '결근' then 'ABS' end , overtime=#{overtime}
         where seq=#{atd_seq}
    </update>


    <insert id="toDayUpdateAtd">
        insert into attendance(seq,emp_code,today,status) values(attendance_seq.nextval,#{emp_code},sysdate,'BW')
    </insert>

    <update id="updateMWEmpAtd">
        update attendance set status='ABS' where seq=#{seq}
    </update>
</mapper>