<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.ConfirmDAO">

    <insert id="addConfirm">
        insert into doc_confirm(seq,approver_code,approver_order,isconfirm,doc_seq) 
        values(doc_confirm_seq.nextval,#{emp_code},#{order},default,#{doc_seq})
    </insert>
    
    <select id="getConfirmList" resultType="kh.cocoa.dto.ConfirmDTO">
    	SELECT EMPLOYEE.NAME "emp_name", POSITION.NAME "pos_name", DEPARTMENTS.NAME "dept_name", DOC_CONFIRM.*
		    FROM DOCUMENT, DOC_CONFIRM, EMPLOYEE, POSITION, DEPARTMENTS
		    WHERE DOCUMENT.SEQ = DOC_CONFIRM.DOC_SEQ
		        AND DOC_CONFIRM.APPROVER_CODE = EMPLOYEE.CODE
		        AND EMPLOYEE.POS_CODE = POSITION.CODE
		        AND EMPLOYEE.DEPT_CODE = DEPARTMENTS.CODE
		        AND DOCUMENT.SEQ=#{seq}
		    ORDER BY DOC_CONFIRM.APPROVER_ORDER
    </select>
    
    <select id="isConfirmed" resultType="String">
    	SELECT DOC_CONFIRM.ISCONFIRM FROM DOCUMENT, DOC_CONFIRM
		    WHERE DOCUMENT.SEQ = DOC_CONFIRM.DOC_SEQ
		        AND APPROVER_ORDER=1
		        AND DOCUMENT.SEQ=#{seq}
    </select>

	<delete id="deleteConfirm">
		delete from doc_confirm where doc_seq = #{doc_seq}
	</delete>
	<!-- 지영 -->
<!-- 업무 일지- 승인한 사람 이름 불러오기 -->
	<select id="confirmBy" resultType="kh.cocoa.dto.ConfirmDTO">
		SELECT DC.*, E.NAME "EMP_NAME" ,D.NAME "DEPT_NAME", P.NAME "POS_NAME" 
		FROM DOC_CONFIRM DC, EMPLOYEE E, DEPARTMENTS D, POSITION P
		WHERE DC.APPROVER_CODE = E.CODE
		AND D.CODE = E.DEPT_CODE
		AND P.CODE = E.POS_CODE
		AND DC.DOC_SEQ=#{seq} 
	</select>
<!-- 승인의 경우 doc_confirm 테이블에 업뎃 -->
	<insert id="docConf">
		INSERT INTO DOC_CONFIRM VALUES 
		(doc_confirm_seq.nextval,#{ddto.writer_code},'1','Y',sysdate,#{doc_seq},null)
	</insert>
<!-- 거절의 경우 - doc_confirm에도 넣어주기 -->
	<insert id="rejectDoc">
		INSERT INTO DOC_CONFIRM VALUES 
		(doc_confirm_seq.nextval,#{ddto.writer_code},'1','R',sysdate,#{doc_seq},null)
	</insert>
</mapper>