<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.cocoa.dao.FilesDAO">
<!-- 파일 업로드 / 게시판용 -->
	<insert id="uploadFiles">
		INSERT INTO FILES VALUES(FILES_SEQ.NEXTVAL, #{fdto.oriname}, 
		#{fdto.savedname}, SYSDATE,#{noBoard_seq},0,0,0,0)
	</insert>
<!-- 파일 업로드 / 임시저장에서 다시 임시저장할 때 -->
	<insert id="uploadFilesTempSave">
		INSERT INTO FILES VALUES(FILES_SEQ.NEXTVAL, #{fdto.oriname}, 
		#{fdto.savedname}, SYSDATE,0,#{seq},0,0,0)
	</insert>
<!-- 파일 업로드 / 업무일지용 -->
	<insert id="uploadFilesBusinessLog">
		INSERT INTO FILES VALUES(FILES_SEQ.NEXTVAL, #{fdto.oriname}, 
		#{fdto.savedname}, SYSDATE,0,#{logDoc_seq},0,0,0)
	</insert>
<!-- 게시글에 업로드된 파일 갯수 확인 -->
	<select id="isExistUploadFile" resultType="Integer">
  		SELECT COUNT(*) FROM FILES WHERE BOARD_SEQ=#{seq}
  	</select>
<!-- 첨부파일 다운로드 목록 -->
	<select id="downloadFileList" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE BOARD_SEQ=#{noBoard_seq}
	</select>
<!-- 첨부파일 리스트 -->
	<select id="getFilesBySeq" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE BOARD_SEQ=#{seq}
	</select>
<!-- 앨범 게시판 첨부파일 사진 불러오기 -->
	<select id="getImage" resultType="kh.cocoa.dto.FilesDTO">
      select * from files where BOARD_SEQ=#{board_seq}
   </select>
<!-- 파일 다운로드 -->
	<select id="downloadFilesBySeq" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE BOARD_SEQ=#{noBoard_seq}
	</select>
<!-- 파일 삭제 -->
	<delete id="deleteNotificationBoardFiles">
		DELETE FROM FILES WHERE SEQ=#{seq}
	</delete>
<!--임시저자 문서에 담긴 파일 삭제  -->
	<delete id="logFileDel">
		DELETE FROM FILES WHERE DOCUMENT_SEQ=#{seq}
	</delete>
<!--업무일지에 업로드 된 파일 리스트 불러오기 -->
	<select id="getFilesListByDocSeq" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE DOCUMENT_SEQ=#{seq}
	</select>
<!-- 업무일지 임시저장 파일 목록가져오기 -->
	<select id="getLogFilesBySeq" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE DOCUMENT_SEQ=#{seq}
	</select>
<!-- 업무일지 임시저장 파일 갯수 -->
	<select id="getLogUploadFileCount" resultType="Integer">
  		SELECT COUNT(*) FROM FILES WHERE DOCUMENT_SEQ=#{seq}
  	</select>
	
	<!--용국 업로드-->
	<insert id="documentInsertFile">
		INSERT INTO FILES(SEQ,ORINAME,SAVEDNAME,UPLOADEDDATE,DOCUMENT_SEQ) VALUES(FILES_SEQ.NEXTVAL,#{oriName},#{savedName},sysdate,#{doc_seq})
	</insert>
	<insert id="insertProfile">
		INSERT INTO FILES(SEQ,ORINAME,SAVEDNAME,UPLOADEDDATE,EMP_CODE) VALUES(FILES_SEQ.NEXTVAL,#{oriname},#{savedname},sysdate,#{emp_code})
	</insert>

	<update id="modProfile">
		update files set oriname=#{oriname}, savedname=#{savedname},uploadeddate=sysdate where emp_code=#{emp_code}
	</update>

	<select id="findBeforeProfile" resultType="kh.cocoa.dto.FilesDTO">
		select * from files where emp_code=#{emp_code}
	</select>

	<!-- ****메세지 파일 업로드**** -->
	<insert id="uploadFilesMsg">
		<selectKey keyProperty="msg_seq" resultType="int" order="BEFORE">
		    SELECT MESSAGE_SEQ.NEXTVAL FROM USER_SEQUENCES WHERE SEQUENCE_NAME='MESSAGE_SEQ'
		</selectKey>
		INSERT INTO FILES (SEQ,ORINAME,SAVEDNAME,UPLOADEDDATE,MSG_SEQ) VALUES(FILES_SEQ.NEXTVAL, #{oriname}, #{savedname}, SYSDATE, #{msg_seq})
	</insert>
	<select id="getSavedName" resultType="String">
		SELECT SAVEDNAME FROM FILES WHERE MSG_SEQ=#{msg_seq} 
	</select>
	<!-- ****메세지 파일 업로드**** -->
	<!-- ****메세지 파일 모아보기**** -->
	<select id="showAllFileMsg" resultType="kh.cocoa.dto.FilesMsgDTO">
		SELECT F.SEQ, F.ORINAME, F.SAVEDNAME, TO_CHAR(F.UPLOADEDDATE,'yyyy-mm-dd') AS S_UPLOADEDDATE, M.TYPE
		FROM FILES F, MESSAGE M
		WHERE F.MSG_SEQ = M.SEQ AND
		M.M_SEQ = #{m_seq}
		ORDER BY UPLOADEDDATE DESC
	</select>
	
	<select id="showFileMsgByType" resultType="kh.cocoa.dto.FilesMsgDTO">
		SELECT F.SEQ, F.ORINAME, F.SAVEDNAME, TO_CHAR(F.UPLOADEDDATE,'yyyy-mm-dd') AS S_UPLOADEDDATE, M.TYPE
		FROM FILES F, MESSAGE M
		WHERE F.MSG_SEQ = M.SEQ AND
		M.M_SEQ = #{m_seq} AND
        M.TYPE = #{type}
		ORDER BY UPLOADEDDATE DESC
	</select>
	<!-- ****메세지 파일 모아보기**** -->	

	<!--용국 파일 삭제-->
	<delete id="deleteDocFile">
		delete from files where seq = #{seq}
	</delete>

	<select id="getFilesListByDocSeq2" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE DOCUMENT_SEQ=#{seq}
	</select>

	<update id="updateFile">
		update files set document_seq=#{seq} where document_seq=#{b_seq}
	</update>

	<insert id="insertFile">
		INSERT INTO FILES(SEQ, ORINAME, SAVEDNAME, UPLOADEDDATE, EMAIL_SEQ) VALUES(FILES_SEQ.NEXTVAL, #{oriname}, #{savedname}, SYSDATE, #{email_seq})
	</insert>
	<select id="getEmailFiles" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE EMAIL_SEQ=#{seq}
	</select>
</mapper>