<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.LeaveDAO">
	<select id="getLeavelist" resultType="kh.cocoa.dto.LeaveDTO">
		SELECT * 
			FROM (SELECT LEAVE.*, ROW_NUMBER() OVER(ORDER BY START_DATE DESC) "rownumber",(END_DATE - START_DATE) "duration" 
    				FROM LEAVE
				    WHERE EMP_CODE = #{empCode}
				        AND START_DATE BETWEEN #{yearStart} AND #{yearEnd}
				    ORDER BY START_DATE DESC)
	</select>
	<insert id="insert">
		INSERT INTO LEAVE VALUES (LEAVE_SEQ.NEXTVAL, #{type}, #{start_date}, '${end_date}', #{time}, #{emp_code})
	</insert>
	<select id="getDuration" resultType="Integer">
		SELECT SUM(END_DATE - START_DATE + 1) "duration" FROM LEAVE
		    WHERE START_DATE BETWEEN #{startDate} AND #{endDate}
		        AND EMP_CODE = #{empCode}
                AND TYPE IN ('정기','병가','기타(차감)')
	</select>
	<select id="getTimeSum" resultType="Integer">
		SELECT SUM(TIME) FROM LEAVE 
	    WHERE START_DATE BETWEEN #{startDate} AND #{endDate}
	        AND EMP_CODE = #{empCode}
	</select>
</mapper>