<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.MessengerPartyDAO">

<!-- 채팅방 참가자 추가 -->
	<insert id="setMessengerMember" parameterType="List">
	   INSERT ALL
	   <foreach collection="list" item="i">
	      INTO MESSENGER_PARTY
	      (
	          SEQ
	         , M_SEQ
	         ,EMP_CODE
	      )
	      VALUES
	      (
	           FUNC_MESSENGER_SEQ
	         , #{i.m_seq}
	         , #{i.emp_code}
	      )
	   </foreach>
	   SELECT * FROM DUAL
	</insert>
	
	<!-- 채팅방 나가기 (멀티) -->
	<delete id="exitMutiRoom">
   		DELETE FROM MESSENGER_PARTY
		WHERE M_SEQ= #{m_seq} AND EMP_CODE=#{emp_code}
   	</delete>


</mapper>