<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.ScheduleDAO">
	<insert id="insertSchedule">
		INSERT INTO SCHEDULE VALUES
		<choose>
			<when test='openTarget=="personal"'>
				(SCHEDULE_SEQ.NEXTVAL, #{dto.title}, #{dto.contents}, #{dto.start_time}, #{dto.end_time}, #{dto.color}, '', '',#{dto.emp_code}, #{dto.writer})
			</when>
			<when test='openTarget=="team"'>
				(SCHEDULE_SEQ.NEXTVAL, #{dto.title}, #{dto.contents}, #{dto.start_time}, #{dto.end_time}, #{dto.color}, '', #{dto.team_code}, '', #{dto.writer})
			</when>
			<when test='openTarget=="dept"'>
				(SCHEDULE_SEQ.NEXTVAL, #{dto.title}, #{dto.contents}, #{dto.start_time}, #{dto.end_time}, #{dto.color}, #{dto.dept_code}, '', '', #{dto.writer})
			</when>
		</choose>
	</insert>
	
	<select id="selectAllSchedule" resultType="kh.cocoa.dto.ScheduleDTO">
		SELECT * FROM SCHEDULE ORDER BY SEQ DESC
	</select>
	<select id="selectCompanySchedule" resultType="kh.cocoa.dto.ScheduleDTO">
		SELECT * FROM SCHEDULE 
		    WHERE DEPT_CODE IS NULL
		        AND TEAM_CODE IS NULL
		        AND EMP_CODE IS NULL
		    ORDER BY SEQ DESC
	</select>
	<select id="selectDeptSchedule" resultType="kh.cocoa.dto.ScheduleDTO">
		SELECT * FROM SCHEDULE 
		    WHERE DEPT_CODE = #{dept}
		   	ORDER BY SEQ DESC
	</select>
	<select id="selectTeamSchedule" resultType="kh.cocoa.dto.ScheduleDTO">
		SELECT * FROM SCHEDULE 
		    WHERE TEAM_CODE = #{team}
		   	ORDER BY SEQ DESC
	</select>
	<select id="selectPersonalSchedule" resultType="kh.cocoa.dto.ScheduleDTO">
		SELECT * FROM SCHEDULE 
		    WHERE EMP_CODE = #{personal}
		   	ORDER BY SEQ DESC
	</select>
	
	<select id="getSchedule" resultType="kh.cocoa.dto.ScheduleDTO">
		SELECT * FROM SCHEDULE WHERE SEQ=#{seq}
	</select>
	<update id="update">
		UPDATE SCHEDULE SET TITLE=#{title}, CONTENTS='${contents}', START_TIME=#{start_time}, END_TIME=#{end_time}, COLOR=#{color}, DEPT_CODE='${dept_code}', TEAM_CODE='${team_code}', EMP_CODE='${emp_code}' 
    		WHERE SEQ=#{seq}
	</update>
	<delete id="delete">
		DELETE FROM SCHEDULE WHERE SEQ = #{seq}
	</delete>
	
	<select id="selectTodaySchedule" resultType="kh.cocoa.dto.ScheduleDTO">
		SELECT * FROM (SELECT SCHEDULE.*, ROW_NUMBER() OVER(ORDER BY START_TIME DESC) "ROWNUMBER" FROM schedule 
		    WHERE START_TIME BETWEEN #{date1} AND #{date2}
		        OR #{date1} BETWEEN START_TIME and END_TIME)
		    WHERE ROWNUMBER BETWEEN 1 AND 5
	</select>

	<select id="selectListNex" resultType="kh.cocoa.dto.ScheduleDTO">
		select
		       seq, title, contents, to_char(start_time, 'YYYY-MM-DD') as str_start_time,
		       to_char(end_time, 'YYYY-MM-DD') as str_end_time, color,
		       (select name from employee where employee.code = schedule.writer) as writer_name
		from schedule
		where dept_code is null and team_code is null and emp_code is null
		ORDER BY SEQ DESC
	</select>

	<select id="selectListByDateNex" resultType="kh.cocoa.dto.ScheduleDTO">
		select
			seq, title, contents, to_char(start_time, 'YYYY-MM-DD') as str_start_time,
			to_char(end_time, 'YYYY-MM-DD') as str_end_time, color,
			(select name from employee where employee.code = schedule.writer) as writer_name
		from schedule
		where to_char(start_time, 'YYYY-MM-DD') BETWEEN to_date(#{str_start}) and to_date(#{str_end}) and dept_code is null and team_code is null and emp_code is null
		ORDER BY SEQ DESC
	</select>

	<insert id="insertScheduleNex">
		INSERT INTO SCHEDULE VALUES (SCHEDULE_SEQ.NEXTVAL, #{title}, #{contents}, TO_DATE(#{start_time}, 'YYYYMMDD'), TO_DATE(#{end_time}, 'YYYYMMDD'), #{color}, '', '','', #{writer})
	</insert>

	<delete id="deleteScheduleNex">
		delete from SCHEDULE where seq in
		<foreach item="i" collection="list" open="(" close=")" separator=",">
			#{i.seq}
		</foreach>
	</delete>

	<update id="updateScheduleNex">
		update SCHEDULE set title=#{title}, contents=#{contents}, start_time=TO_DATE(#{str_start_time},'YYYY-MM-DD'), end_time=TO_DATE(#{str_end_time},'YYYY-MM-DD'), color=#{color} where seq=#{seq}
	</update>
</mapper>
