<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.TemplateFormDAO">


    <select id="getTempleateFormList" resultType="kh.cocoa.dto.TemplateFormDTO">
        select * from templateform order by code
    </select>

    <delete id="delTemplateForm">
        delete from templateform where code=#{code}
    </delete>

    <insert id="addTemplateForm">
    <choose>
        <when test="contents!='undefined'">
            insert into templateform values(templateform_seq.nextval,#{title},#{contents},sysdate,'',#{emp_code})
        </when>
        <otherwise>
            insert into templateform values(templateform_seq.nextval,#{title},'',sysdate,'',#{emp_code})
        </otherwise>

    </choose>

    </insert>

    <update id="modTemlateForm">
    <choose>
        <when test="contents==null">
            update templateform set title=#{title}, mod_date=sysdate where code=#{code}
        </when>
        <otherwise>
            update templateform set title=#{title}, contents=#{contents},mod_date=sysdate where code=#{code}
        </otherwise>
    </choose>
    </update>

    <select id="getFormInfoByCode" resultType="kh.cocoa.dto.TemplateFormDTO">
        SELECT * FROM TEMPLATEFORM WHERE CODE=#{code}
    </select>
</mapper>


